flask==0.12
docker==2.7.0
requests==2.18.4
gunicorn==19.6.0
gevent==1.2.2
git+git://github.com/dojot/alarm-client-python@master#egg=dojot-alarmlibrary
urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability